{% load static %}



<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixbit | Technical support</title>
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'Images/favicon.ico' %}" type="image/x-icon">
</head>


<body>

    <div class="container">
        <h1>404</h1>
        <p>Səhifə tapılmadı. Bəlkə ana səhifəyə qayıdırsınız?</p>
        <a href="{% url 'home' %}">Ana səhifəyə qayıt</a>
    </div>
</body>

</html>
